---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "Diployable: Static web hosting service application",
    description:
      "Static web hosting service solution built with React, and Golang. Features include user authentication, sites and environments deploying and previewing.",
    tech: ["React", "Typescript", "Golang", "Postgresql"],
    previewUrl: "#",
    repositoryUrl: "#",
  },
];
---

<section id="projects" class="py-20 px-6 bg-neutral-50">
  <div class="max-w-4xl mx-auto">
    <h2
      class="text-3xl md:text-4xl font-light text-neutral-900 mb-12 text-center"
    >
      Featured projects
    </h2>
    <div class="space-y-12">
      {projects.map((props) => <ProjectCard {...props} />)}
    </div>
  </div>
</section>
