---
import ProjectCard from "./ProjectCard.astro";
import { getLangFromUrl } from "@i18n/utils";
import { translate } from "@i18n/pages/index";

const lang = getLangFromUrl(Astro.url);
const t = translate(lang);

const projects = [
  {
    title: t("projects.diployable.title"),
    description: t("projects.diployable.description"),
    tech: ["React", "Typescript", "Golang", "Postgresql"],
    previewUrl: "#",
    repositoryUrl: "#",
  },
];
---

<section id="projects" class="py-20 px-6 bg-neutral-50">
  <div class="max-w-4xl mx-auto">
    <h2
      class="text-3xl md:text-4xl font-light text-neutral-900 mb-12 text-center"
    >
      {t("projects.title")}
    </h2>
    <div class="space-y-12">
      {projects.map((props) => <ProjectCard {...props} />)}
    </div>
  </div>
</section>
