---
import PageLayout from "@/layout/PageLayout.astro";
---

<PageLayout title="Portfolio">
  <div class="container mx-auto space-y-4">
    <header class="text-center space-y-2">
      <h1 class="text-5xl">Alfredo Alexander Arvelaez Carvajal</h1>
    </header>

    <section class="max-w-2xl mx-auto text-center">
      <p></p>
    </section>
  </div>
</PageLayout>
