---
import Base from "@/layouts/Base.astro"

import Container from "@/components/wrappers/Container.astro"
import Navbar from "@/components/common/Navbar.astro"
import SocialMediaButtons from '@/components/common/SocialMediaButtons.astro';
import Icon from "astro-icon";
import ButtonLink from "@/components/common/ButtonLink.astro";
---

<Base title="Portfolio - AlfredoPrograma">
	<Container>
		<Navbar />

		<main class="h-[calc(100vh-7rem)] flex justify-center items-center relative">
			<section class="max-w-max mx-auto flex flex-col gap-10 text-center">
				<header>
					<h1 class="text-8xl font-bold">Let's build <span class="animate-colorized-ping">amazing software</span></h1>
				</header>
	
				<p class="max-w-2xl mx-auto text-2xl">My name is <span class="font-bold text-blue-500">AlfredoPrograma</span> and I'm Full Stack developer focused on create <span class="text-orange-400 font-bold">blazingly fast</span> and <span class="text-emerald-500 font-bold">highly scalable</span> web applications which solve <span class="text-red-500 font-bold">core issues</span> for business processes</p>

				<footer class="grid grid-cols-4 gap-6 self-center">
					<SocialMediaButtons />
				</footer>
			</section>

			<footer class="absolute bottom-0">
				<ButtonLink href="#home" class="px-8 py-3 text-lg items-center font-bold text-gray-50 rounded-full bg-gray-900 hover:bg-gray-950">
					<Icon pack="mdi" name="chevron-down" class="w-8 h-8" />
					<span>Meet my work</span>
				</ButtonLink>
			</footer>
		</main>
	</Container>
</Base>