---
import PageLayout from '@/layout/PageLayout.astro';
import Header from '@/components/Header.astro';
import AboutMe from '@/components/AboutMe.astro';
import LatestProjects from '@/components/LatestProjects.astro';
---

<PageLayout title='Portfolio'>
  <main class='container max-w-4xl mx-auto space-y-4'>
    <Header />
    <AboutMe />
    <LatestProjects />
  </main>
</PageLayout>
