---
import ButtonLink from "@components/Button/ButtonLink.astro";
import type { NavLinkProps } from "./NavLink.astro";
import NavLink from "./NavLink.astro";

const NAV_LINKS = [
  {
    href: "#about",
    text: "About",
  },
  {
    href: "#projects",
    text: "Projects",
  },
  {
    href: "#contact",
    text: "Contact",
  },
] satisfies NavLinkProps[];
---

<header
  class="fixed top-0 left-0 right-0 bg-white/90 backdrop-blur-sm border-b border-neutral-200 z-50"
>
  <nav class="max-w-4xl mx-auto px-6 py-4">
    <div class="flex justify-center items-center gap-8">
      <ButtonLink href="#">Blog</ButtonLink>
      {NAV_LINKS.map((props) => <NavLink {...props} />)}
    </div>
  </nav>
</header>
