---
export interface NavLinkProps {
  text: string;
  href: string;
}

type Props = NavLinkProps;

const { href, text } = Astro.props;
---

<a
  href={href}
  class="text-body hover:text-heading transition-colors"
>
  {text}
</a>
