<section class='space-y-4'>
  <p>
    Hi there! 👋🏼 I'm just a young man very passionate about programming and
    using code as my main tool for problem-solving. I've always been interested
    in mathematics and physics. However, I struggled to find practical
    applications for them in my daily life until I discovered programming. 🧑🏽‍💻
  </p>

  <p>
    For the past two years,
    <span class='text-gray-900 font-semibold'>
      I've worked as a full-stack web developer for small and medium-sized
      startups, specializing in fintech.
    </span>
    During this time, I've been involved in various phases of digital product development
    and have actively contributed my knowledge throughout the implementation of web
    applications.
  </p>

  <p>
    I'm accustomed to working with cutting-edge technologies, primarily
    <span class='font-semibold text-blue-600'>Typescript, </span>
    <span class='font-semibold text-blue-400'>React, </span>
    <span class='font-semibold text-orange-500'>Astro, </span>
    and
    <span class='font-semibold text-gray-700'>Next.js</span>
    for frontend development, and
    <span class='font-semibold text-emerald-600'>Node.js </span>
    and
    <span class='font-semibold text-sky-500'>Go </span>
    for backend development. Additionally, I have experience with databases (such
    as
    <span class='font-semibold text-purple-600'>Postgresql</span>),
    containerization (using
    <span class='font-semibold text-blue-700'>Docker</span>), and cloud services
    (like <span class='font-semibold text-amber-600'>AWS</span>). I enjoy
    sharing my knowledge with colleagues and contributing to team improvement.
  </p>

  <p>
    I'm human, so I also engage in activities to distract myself. I love
    cooking, discovering new music, visiting the beach, socializing with
    friends, playing "competitive" video games, and last but certainly not
    least,
    <span class='font-semibold text-gray-900'>
      spending time with my loved ones.
    </span>
  </p>
</section>
