<section class='space-y-4'>
  <p>
    Hi there 👋🏼, I'm just a young man very passionate about programming and
    solving problems using code as main tool. I've always been interested about
    mathematics and physics, but never found a simple way of applying them in
    real life until I discovered programming 🧑🏽‍💻.
  </p>

  <p>
    I've been working as a
    <span class='font-semibold'>full stack web developer</span>
    for small and medium size startups for the last two years; participating in the
    different phases of building digital products (specially fintech) and actively
    contributing my knowledge throughout the implementation period of the web applications.
  </p>

  <p>
    I'm always used to work with cutting edge technologies, mainly
    <span class='font-semibold text-blue-600'>Typescript, </span>
    <span class='font-semibold text-blue-400'>React, </span>
    <span class='font-semibold text-orange-500'>Astro, </span>
    and
    <span class='font-semibold text-gray-700'>Next.js</span>
    for frontend; and
    <span class='font-semibold text-emerald-600'>Node.js </span>
    and
    <span class='font-semibold text-sky-500'>Go, </span>
    for backend. I'm also familiar with databases, containerization, and cloud services
    like
    <span class='font-semibold text-purple-500'>Postgresql, </span>
    <span class='font-semibold text-blue-700'>Docker </span>
    and
    <span class='font-semibold text-sky-800'>Digital Ocean</span>
    respectively. I enjoy sharing my knowledge with my colleagues and contributing
    to improve the level of the team I am in.
  </p>

  <p>
    I'm human, so I also like to do things to distract myself. I love to cook,
    listen to new music, go to the beach, hang out with friends and play
    "competitive" video games.
  </p>
</section>
