---
import SocialMedia from './SocialMedia.astro';
---

<header class='text-center'>
  <SocialMedia />

  <h1 class='text-4xl space-y-2'>
    <span class='block'>I' m Alfredo Arvelaez.</span>

    <span class='block text-primary font-medium'>
      Software engineer focused on backend development.
    </span>
  </h1>
</header>
