---
import { Icon } from 'astro-icon/components';

const SOCIAL_MEDIA_LINKS = [
  {
    icon: 'lucide:github',
    url: 'https://github.com/AlfredoPrograma/',
    ariaLabel: 'navigate to github',
  },
  {
    icon: 'lucide:linkedin',
    url: 'https://www.linkedin.com/in/alfredoprograma/',
    ariaLabel: 'navigate to linkedin',
  },
  {
    icon: 'lucide:instagram',
    url: 'https://www.instagram.com/alfredo_arvelaez/',
    ariaLabel: 'navigate to instagram',
  },
];
---

<header class='text-center'>
  <nav class='space-x-2'>
    {
      SOCIAL_MEDIA_LINKS.map(({ icon, url, ariaLabel }) => (
        <a
          aria-label={ariaLabel}
          class='inline-block p-[6px] rounded-md  text-indigo-500 transition-colors hover:text-white hover:bg-indigo-500'
          href={url}
          target='_blank'
          rel='noopener noreferrer'
        >
          <Icon
            name={icon}
            size={24}
          />
        </a>
      ))
    }
  </nav>

  <h1 class='text-4xl space-y-2'>
    <span class='block'>I' m Alfredo Arvelaez.</span>

    <span class='block text-indigo-500 font-medium'>
      Software engineer focused on backend development.
    </span>
  </h1>
</header>
