---
import { getCollection } from 'astro:content';
import ProjectItem from './ProjectItem.astro';

const projects = await getCollection('projects');
---

<section class='space-y-4'>
  <header>
    <h3 class='text-indigo-500 font-medium text-2xl'>Latest projects</h3>
  </header>

  <div class='grid grid-cols-2 gap-8'>
    {
      projects.map((project) => (
        <ProjectItem
          slug={project.slug}
          title={project.data.title}
          description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
          image={{
            alt: project.data.title,
            src: 'https://via.placeholder.com/500',
          }}
        />
      ))
    }
  </div>
</section>
