---
import { getCollection } from 'astro:content';
import { sortDescByDate } from '@/utils/dates';

import ProjectItem from './ProjectItem.astro';

const projects = await getCollection('projects');
---

<section class='space-y-4'>
  <header>
    <h3 class='text-primary font-medium text-3xl'>Latest projects</h3>
  </header>

  <div class='grid gap-12 md:grid-cols-2'>
    {
      projects
        .sort(sortDescByDate)
        .map(({ slug, data: { title, description, thumbnail, tags } }) => (
          <ProjectItem
            slug={slug}
            title={title}
            description={description}
            tags={tags}
            thumbnail={{
              alt: thumbnail.alt,
              src: thumbnail.src,
            }}
          />
        ))
    }
  </div>
</section>
