---
import PageLayout from '@/layout/PageLayout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

type Props = { project: CollectionEntry<'projects'> };

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');

  return projectEntries.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;
const { thumbnail, title } = project.data;
const { Content } = await project.render();
---

<PageLayout title={title}>
  <header class='space-y-6'>
    <div class='space-y-4'>
      <h1 class='text-5xl font-medium text-primary'>
        {title}
      </h1>
    </div>

    <figure>
      <img
        class='w-full h-96 object-cover'
        src={thumbnail.src}
        alt={thumbnail.alt}
      />
    </figure>
  </header>

  <div
    class='max-w-none prose prose-lg prose-h1:font-medium prose-headings:text-primary prose-headings:font-medium'
  >
    <Content />
  </div>
</PageLayout>
