---
import { getLangFromUrl } from "@i18n/utils";
import { translate } from "@i18n/pages/index";

const lang = getLangFromUrl(Astro.url);
const t = translate(lang);

const currentYear = new Date().getFullYear();
---

<footer class="py-6 px-6 border-t border-neutral-200 bg-neutral-900">
  <div class="max-w-4xl mx-auto text-center">
    <p class="text-white text-sm">
      © {currentYear} Alfredo Arvelaez. {t("footer.all-rights-reserved")}.
    </p>
  </div>
</footer>
