---

---

<div
  class="max-w-full prose prose-neutral text-body
  prose-h2:text-xl
  prose-headings:text-heading prose-headings:font-normal
  prose-strong:text-heading prose-a:text-heading
  prose-img:rounded-xl"
>
  <slot />
</div>
